@font-face {
    font-family: 'Barlow';
    src: url(fonts/BARLOW/Barlow-Bold.ttf);
}
html {
    width: 100%;
    max-width: fit-content;
    font-family: 'Barlow';
    color: #1a3259;
    margin: 0 auto;
    padding: 0 auto;
}

header {
    height: 400px;
    background-image: url("./images/header.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #1a3259;
    font-size: 50px;
}

h2 {
    color: #003ea5;
    font-size: 35px;
}

h3 {
    color: #004b7e;
    font-size: 30px;
}

.calculadora {
    gap: 50px;
    height: 400px;
    width: 100%;
    text-align: center;
}

.tempo-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.tempo-button:hover {
    color:#0249bd;
    
}

input[type=range] {
    width: 100%;
    cursor: pointer;
    margin: 10px 10% 10px 10%;
}

.tipo-seletor {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.tipo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tipo img {
    max-width: 192px;
    max-height: 144px;
}

.resultados {
    padding: 30px 0 30px 0;
    
}

table {
    width: 100%;
    text-align: center;
    vertical-align: center;
    border-spacing: 15px 0;
}

tr:nth-child(odd) {
    background-color: #cccccc;
    column-gap: 30px;
}
  
tr:nth-child(even) {
    background-color: #f0ecec;
}

th {
    background-color: #6990cf;
}

td {
    padding: 20px 0 20px 0;
    border-radius: 30%;
}

