@font-face {
    font-family: 'Barlow-Bold';
    src: url(fonts/BARLOW/Barlow-Bold.ttf);
    src: url(fonts/DINPro/DINPro-Regular.otf);
}

html {
    max-width: 1980px;
    font-family: 'Barlow-Bold';
    color: #1a3259;
    margin: 0 auto;
    padding: 0 auto;
    overflow-x: hidden;
}

header { 
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

header img{
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #1a3259;
    font-size: 50px;
    background-color: #c1c9e4ad;
    height: fit-content;
}

h2 {
    color: #003ea5;
    font-size: 35px;
}

h3 {
    color: #17315b;
    font-size: 30px;
    padding: 0 auto;
}

.dia-mes-ano {
    height: 180px;
    width: 100%;
    text-align: center;
    margin: 50px 0 0 0; 
    padding: 70px 0 0 0;
}

.tempo-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 50px 0 30px 0;
    cursor: pointer;
    padding: 0px 0px 50px 0;
}

.tempo-button {
    font-size: 22px;
    background: none;
    color: inherit;
    font-weight: 600;
    border: none;
    cursor: pointer;
    outline: inherit;
    margin: 0 15px 0 15px;
    height: 1.5em;
    border: 1px solid #3965a9;
    width: 70px;
    border-radius: 10%;
    -webkit-box-shadow: 4px 4px 6px -2px rgba(57,101,169,1);
    -moz-box-shadow: 4px 4px 6px -2px rgba(57,101,169,1);
    box-shadow: 4px 4px 6px -2px rgba(57,101,169,1);
}

.carro-selecao {
    display: flex;
    flex-direction: row;
    margin: 10px 30px 20px 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    vertical-align:middle;
}

.nome-carro {
    color: inherit;
    border: none;
    background-color: transparent;
    overflow: hidden;
    cursor:pointer;
    height: 1.3em;
    border: 1px solid #3965a9;
    width: 70px;
    border-radius: 10%;
    -webkit-box-shadow: 4px 4px 6px -2px rgba(57,101,169,1);
    -moz-box-shadow: 4px 4px 6px -2px rgba(57,101,169,1);
    box-shadow: 4px 4px 6px -2px rgba(57,101,169,1);
    margin: 10px;
    text-align: center;
    line-height: 120%;
    font-weight: 900;
}

.active {
    color: #ffffff;
    background-color:#3965a9;
    border-radius: 10%;
    width: 70px;

}

input[type="range"] {
    position: relative;
    -moz-appearance: none;
    -ms-appearence: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    width: 90%;

}

input[type="range"]::before, 
input[type="range"]::after {
    position: absolute;
    display: inline-block;
 

}

input[type="range"]::before {
    left: 0;
    top: -3px;
    transform: translateY(-100%);
    font-size: 20px;
    font-weight: 600;
}

input[type="range"]::after {
    right: 3px;
    top: -3px;
    transform: translateY(-100%);
    font-size: 20px;
    font-weight: 600;
    
}


.km-input input[type="range"]::before {
    content: ''attr(min) '  km';
    color:rgba(0, 0, 0, 0.703)

}

.km-input input[type="range"]::after {
    content: ''attr(max) ' km';
    color:rgba(0, 0, 0, 0.703)

}

.gasolina-range input[type="range"]::before {
    content: 'R$ ' attr(min)'';
    color:rgba(0, 0, 0, 0.703)
}
.gasolina-range input[type="range"]::after {
    content: 'R$ ' attr(max) '' ;
    color:rgba(0, 0, 0, 0.703)

}

input[type="range"]::-moz-range-track {
    background: rgb(85,182,252);
    background: linear-gradient(90deg, rgba(85,182,252,1) 0%, rgba(19,97,249,1) 100%);
    height: 10px;
    border-radius: 10px;
    box-shadow: inset 0px 7px 5px -5px #a6acc1;
    -moz-appearance: none;
    -ms-appearence: none;
    -webkit-appearance: none;
    appearance: none;
}
input[type="range"]::-ms-track {
    background: rgb(85,182,252);
    background: linear-gradient(90deg, rgba(85,182,252,1) 0%, rgba(19,97,249,1) 100%);
    height: 10px;
    border-radius: 10px;
    box-shadow: inset 0px 7px 5px -5px #a6acc1;
    -moz-appearance: none;
    -ms-appearence: none;
    -webkit-appearance: none;
    appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: rgb(85,182,252);
    background: linear-gradient(90deg, rgba(85,182,252,1) 0%, rgba(19,97,249,1) 100%);
    height: 10px;
    border-radius: 10px;
    box-shadow: inset 0px 7px 5px -5px #a6acc1;
    -moz-appearance: none;
    -ms-appearence: none;
    -webkit-appearance: none;
    appearance: none;
}

input[type="range"]::-moz-range-thumb {
        -moz-appearance: none;
    -ms-appearence: none;
    -webkit-appearance: none;
    appearance: none;
    background: rgb(85,182,252);
    background: linear-gradient(90deg, rgba(85,182,252,1) 0%, rgba(19,97,249,1) 100%);
    width: 22px;
    height: 22px;
    margin: -5px 0 0 0;
    border-radius: 50%;
    border: 4px solid #f2f2f2;
}

input[type="range"]::-ms-thumb {
    -moz-appearance: none;
    -ms-appearence: none;
    -webkit-appearance: none;
    appearance: none;
    background: rgb(85,182,252);
    background: linear-gradient(90deg, rgba(85,182,252,1) 0%, rgba(19,97,249,1) 100%);
    width: 22px;
    height: 22px;
    margin: -5px 0 0 0;
    border-radius: 50%;
    border: 4px solid #f2f2f2;
} 

input[type="range"]::-webkit-slider-thumb {
    -moz-appearance: none;
    -ms-appearence: none;
    -webkit-appearance: none;
    appearance: none;
    background: rgb(85,182,252);
    background: linear-gradient(90deg, rgba(85,182,252,1) 0%, rgba(19,97,249,1) 100%);
    width: 22px;
    height: 22px;
    margin: -5px 0 0 0;
    border-radius: 50%;
    border: 4px solid #f2f2f2;

}

input[type=range].colored::-webkit-slider-runnable-track {
  background: linear-gradient(to right, rgba(85, 182, 252, 1) 0%,  rgba(19,97,249,1) var(--perc), rgba(204, 204, 204, 1) var(--perc), rgba(204, 204, 204, 1) 100%);
}

.select-km {
    height: 100px;
    margin-left: 7px;
    padding: 10px 0 70px 0;
}
.km-input, .gasolina-range {
    position: relative;
    padding-bottom: 10px;
    color: transparent
    
}

.km-input .bubble, 
.gasolina-range .bubble {
    display: inline-block;
    color: rgb(85,182,252);
    position: absolute;
    left: 0;
    top:20px;
    padding: 5px;
    font-size: 18px;
    border-radius: 3px;
    transform: translate(-50%);
}


  

.tipo-seletor {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.tipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.tipo img {
    max-width: 192px;
    max-height: 144px;
}

.resultados {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rs {
    font-size: 16px;
    font-weight: 900;
}

.line {
    border-bottom: 1px solid #cccccc86;
    width: 100%;
    padding: 20px 0 20px 0;
}

.tabela-resultados {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}

.thead {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 0 auto;
    overflow: hidden;
    border-radius: 15px;
    color: white;
    height: inherit;

}

.tbody {
    display: flex;
    flex-direction: column;
    border-radius:10px;
    overflow: hidden;
    color: #0249bd;
    margin: 0 0 0 10px;
    height: inherit;

}
.thead div {
    padding-top: 7px;
    width: 320px;
    height: 2.4em;
}

.tbody div {
    padding-top: 7px;
    font-size: 20px;
    width: 150px;
    height: 2.2em;
}
.thead div:nth-child(odd) {
    background-color: #0d4396;
}

.thead div:nth-child(even) {
    background-color: #3965a9;
    
}

.tbody div:nth-child(even) {
    background-color: #cccccc;
}

.tbody div:nth-child(odd) {
    background-color: #d5d5d5;
}

.resultado-box {
    position:relative;
    margin: 100px 0 0 0;
    border-radius: 15px;
    border: 1px solid #24457b9f;
    width: auto;
    min-width: 68%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-variant: small-caps;
}

.resultado-titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: -20px;
    border-radius: 20px;
    background-color: #ebebeb;
    width: 240px;
    font-size: 26px;
    font-weight: 900;
    color:#003ea5
}

.resultado-titulo img {
    width: 30px;
    height: 30px;
    background-color: #003ea5;
    border-radius: 5px;
}

.resultado-top {
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid #1a325997;
    height: 65%;
    white-space: nowrap;
    text-align: center;
}

.resultado-termico {
    border-right: 1px solid #1a325992;
    text-align: center;
    width: 50%;
    color: #003ea5;
    font-weight: 800;
    padding: 13px 10px 5px 10px;
}

.termico, 
.eletrico, 
.combustivel-eletrico,
.combustivel-termico {
    font-size: 28px !important;
    font-weight: 900;
}

.resultado-eletrico {
    text-align: center;
    width: 50%;
    color: #003ea5;
    font-weight: 900;
    padding: 13px 10px 5px 10px;
}

.economia-card {
    color: #003ea5;
    font-weight: 900;
}

.manutencao-economia {
    font-size: 20px;
}


/* ------- Formulário ------- */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: all 0.3s;
  }
  
  .modal.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
  
  .modal.closing {
    transform: translateY(100%);
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: #0d4395;
  }
  
  #floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0d4395;    ;
    color: white;
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius:50%;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(72, 164, 225, 0.588);
    transition: all 0.3s;
  }
  
  #floating-button:hover {
    background-color: #0ca9e1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin: 10px 0 5px 0;
  }
  
  input[type="text"],
  input[type="email"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    margin-top: 20px;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #0d8bf2;
  }



@media screen and (max-width: 768px) and (min-width: 144px) {
    html {
        font-size: 14px; 
        margin: 0 auto;
        overflow-x:scroll;
        max-width: 768;
    }
    
    h1 {
        font-size: 32px; 
    }

    h2 {
        font-size: 20px;
        line-height: 95%;
    }

    h3 {
        font-size: 20px; 
        line-height: 95%;
    }

    section {
        margin: 10px 0 10px 0;
        padding: 10px 0 0 0;
    }

    .dia-mes-ano { 
        margin: 0 auto;
        padding: 0 auto;
    }

    
    input[type="range"]::before, 
    input[type="range"]::after {
        font-size: 14px;
    }

    .gasolina-preco h3 {
        padding-bottom: 30px;
    }

    .gasolina-range {
        left: 12px;
    }

    .tempo-selection h3 {
        white-space: nowrap;
    }
    .tempo-buttons {
        flex-direction: row-reverse; 
        align-items: center;  
        padding: 0px 0 10px 0;
        height: 0px;
    }

    .tempo-button {
        font-size: 16px;
        font-weight: 600;
        margin: 0 5px 0 5px;
    }
    .tempo-button.active {
        color: #ffffff;
        background-color:#3965a9;
        border-radius: 10%;
        width: 70px;
    }
    
     .select-km {
        height: 30px;
     }

    .bubble {
        font-size: 2px;
    }

    .veiculo-tipo h3 {
        margin-top: 30px;
    }
    .veiculo-tipo {
        height: 180px;
    }
    .tipo-seletor {
        max-width: 95%;
        flex-direction: row; 
        margin: 0 2% 0 2%;
    }

    .tipo {
        margin-bottom: 20px; 
    }
/* 
    .tipo img {
        max-width: 100px; 
        max-height: 80px;
    } */

    .gasolina-preco h3{
        padding: 0 0 30px;
        margin: 0;
    }

    .carro-selecao {
      font-size: 18px;
    }

    .resultados {
        padding: 0 0 20px 0;
    }
    .resultados h2 {
        font-size: 20px;
        white-space: nowrap;
    }

    .tabela-resultados {
        flex-direction: row; 
        align-items: center;
        font-weight: 600;
    }

    .thead,
    .tbody {
        margin: 0; 
        width: 100%;
    }

    .thead div,
    .tbody div {
        width: 100%;
         height: 28px;
         font-weight: 900;
    }

    .thead {
        height: inherit;
        font-size: 9px;
        width: 150%;
    }
    .tbody div {
        font-size: 12px;
        width: 68px;
    }

    
    .rs {
        font-size: 12px;
        font-weight: 900;
    }

    .line {
        padding: 10px 0 10px 0;
    }
    .resultado-box {
        position:relative;
        margin: 50px 0 0 0;
        border-radius: 15px;
        border: 1px solid #24457b9f;
        width: 96%;
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-variant: small-caps;
    }

    .resultado-titulo {
        position: absolute;
        top: -13px;
        border-radius: 20px;
        background-color: #e1e1e1;
        width: 170px;
        font-size: 18px;
        font-weight: 900;
        color:#003ea5
    }

    .resultado-titulo img {
        width: 20px;
        height: 20px;
        background-color: #003ea5;
        border-radius: 5px;
    }
    .resultado-top {
        display: flex;
        flex-direction: row;
        border-bottom: 0.5px solid #1a325997;
        height: 65%;
        white-space: nowrap;
        text-align: center;
        justify-content: center;
    }

    .resultado-termico {
        border-right: 1px solid #1a325992;
        text-align: center;
        width: 50%;
        color: #003ea5;
        font-weight: 800;
        padding: 13px 10px 5px 10px;
    }

    .termico, 
    .eletrico, 
    .combustivel-eletrico,
    .combustivel-termico {
        font-size: 20px !important;
        font-weight: 900;
    }



    .resultado-eletrico {
        text-align: center;
        width: 50%;
        color: #003ea5;
        font-weight: 900;
        padding: 13px 10px 5px 10px;
    }

    .economia-card {
        color: #003ea5;
        font-weight: 900;
    }

    .manutencao-economia {
        font-size: 20px;
    }

}
